<header class="header">
  <div class="header__logo-box">
    <a href="index.html"><img src="../assets/img/Logo.png" alt="Nitro Logo" class="header__logo" /></a>
  </div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">t.i.p. nitro</span>
    </h1>
  </div>
  <nav class="navbar__menu">
    <ul class="navbar__menu-list">
      <li class="navbar__menu-item">
        <a href="index.html" class="navbar__menu-link">Home</a>
        <ul class="navbar_menu-list dropdown">
          <li class="navbar__menu-item">
            <a href="about.html" class="navbar__menu-link">About</a>
          </li>
        </ul>
      </li>
      <li class="navbar__menu-item">
        <a href="news.html" class="navbar__menu-link">News</a>
      </li>
      <li class="navbar__menu-item">
        <a href="programs.html" class="navbar__menu-link">Programs</a>
      </li>
      <li class="navbar__menu-item">
        <a href="team.html" class="navbar__menu-link">Team</a>
      </li>
      <li class="navbar__menu-item">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfXPdYKbl1O6LKHEQXQT6_m4soKKIeGBKKYe0ppwO8YT1N1oQ/viewform"
          class="navbar__menu-link">Apply now!</a>
      </li>
    </ul>
  </nav>
</header>
