<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/81515cf0b0.js"
      crossorigin="anonymous"
    ></script>
    <title>TIP Nitro</title>
  </head>
  <body>
    <!-- NAVBAR -->
    {{>partials/header}}

    <main>
      <section class="news-section">
        <header class="news-section__header">
          <h1>news from t.i.p. nitro</h1>
        </header>

        <div class="news-section__container">
          <section class="news-section__container--1">
            <article class="news-section__container--content">
              <header>
                <h1>the 72-hour t.i.p. nitro hackathon kicks off!</h1>
              </header>

              <p>
                Add a News Article with a short summary and a link. You can also
                add a video for extra engagment. Be detailed and thorough to
                interest your readers, and include links to the original story
                online
              </p>
            </article>
          </section>
          <section class="news-section__container--2">
            <article class="news-section__container--content">
              <header>
                <h1>t.i.p. nitro to open a new hq in europe</h1>
              </header>
              <p>
                Add a News Article with a short summary and a link. You can also
                add a video for extra engagment. Be detailed and thorough to
                interest your readers, and include links to the original story
                online
              </p>
            </article>
          </section>
        </div>
      </section>
    </main>

    <!-- Footer -->
    {{>partials/footer}}

  </body>
</html>
