<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/81515cf0b0.js" crossorigin="anonymous"></script>
  <title>TIP Nitro</title>
</head>

<body>
  <!-- NAVBAR -->
  {{>partials/header}}

  <main>
    <section class="program-section">
      <header class="program-section__header">
        <h1>programs offered</h1>
        <p> T.I.P NITRO provides you with useful services that will give you the <span id="orange-text">BOOST</span> you
          need to get to the next level. Have a look at what we offer, and get in touch with any questions.</p>
      </header>
      <div class="program-section-img-container">
        <div class="program-section-img1"></div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  {{>partials/footer}}

</body>

</html>